body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

.product-card {
  width: 800px;
  height: 500px;
  margin: 120px;
}

.left-img-col {
  width: 50%;
  height: 100%
}

.left-img-col img {
  width: 100%;
  height: 100%
  object-fit: contain;
  display: block;
}

.right-info-col {
  width: 50%;
  height: 100%
  padding: 20px
  color: black;
}

.right-info-col h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  color: black;
}

.buy-btn {
    width: 150px;
    height: 40px;
    background: black;
    color: white;
    border: none; 
    cursor: pointer; 
}


